In [1]:
import numpy as np
import pandas as pd

In [46]:
df = pd.DataFrame({'1024': [0.29, 0.22, 0.31, '-'], '2048': [0.26, '-', 0.32, '-'], 'speed': [2.61, 5.05, 6.15, '-']}, index=['BigBird', 'Transformer', 'CodeTransformer', 'CodeTransformer (random)'])

In [47]:
df

                          1024  2048 speed
BigBird                   0.29  0.26  2.61
Transformer               0.22     -  5.05
CodeTransformer           0.31  0.32  6.15
CodeTransformer (random)     -     -     -